@model Subtitles.CombinedModel.Everything
@{
	ViewBag.Title = "Index";
}
<link href="~/Content/FrontPage.css" rel="stylesheet" />
<form>
	<br />
	<input type="radio" id="all" name="type" value="all" />
	<label for="all">Allt</label>
	<input type="radio" id="mov" name="type" value="mov" />
	<label for="mov">Kvikmynd</label>
	<input type="radio" id="tv" name="type" value="tv" />
	<label for="tv">Þáttur</label>
	<input type="search" name="search" value="Leita" size="100" />
</form>
<p>Ignora fyrir ofan</p>

@using (Html.BeginForm())
{
	<p>
		Title: @Html.TextBox("SearchString") <br />
		<input type="submit" value="Filter" />
	</p>
}

 <p>Leitarniðurstöður f neðan</p>
@{Html.RenderPartial("Movies", Model.movie);}
<div class="jumbotron">
	<p>HÉRNA FYRIR NEÐAN ERU TV SHOWS TAKK OG BLESS :) :) :) :)</p>
</div>
@{Html.RenderPartial("TvShows", Model.tvShow);}