@{
	ViewBag.Title = "Translate";
}
<!--<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>-->
<script src="~/Scripts/Testing.js"></script>
@using (Html.BeginForm("FileUpload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	<label for="name">Nafn</label>
	<input type="text" id="Name" name="Name" />
	<br />
	<label for="ImdbUrl">Imdb Slóð</label>
	<input type="text" name="ImdbUrl" />
	<br />
	<label for="Season">Sería nr : </label>
	<input type="number" name="Season" />
	<br />
	<label for="Episode">Þáttur nr: </label>
	<input type="number" name="Episode" />
	<br />
	<label for="file">Veldu Skrá : </label>
	<input type="file" name="file" />
	<br />
	<input type="submit" value="Senda" />
}