@{
    ViewBag.Title = "Translate";
}
<!--<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>-->
<script src="~/Scripts/Testing.js"></script>
@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <label class="sr-only" for="Name">Name</label>
    <textarea class="form-control" rows="3" id="Name" name="Name"></textarea>
    <label class="sr-only" for="ImdbUrl">ImdbUrl</label>
    <textarea class="form-control" rows="3" id="ImdbUrl" name="ImdbUrl"></textarea>
    <input type="submit" value="OK" />
}