@{
	ViewBag.Title = "Translate";
}
<!--<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>-->
<script src="~/Scripts/Testing.js"></script>
@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	<input type="text" id="Name" name="Name" />
	<input type="text" id="ImdbUrl" name="ImdbUrl" />
	<input type="file" name="file" />
	<input type="number" name="Season" />
	<input type="number" name="Episode" />
	<input type="submit" value="OK" />
}