@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>YOLOSVEINNINN</h1>
    <iframe width="420" height="315" src="//www.youtube.com/embed/6R3BYCT5oWw" frameborder="0" allowfullscreen></iframe>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Cat section</h2>
        <iframe width="560" height="315" src="//www.youtube.com/embed/p2H5YVfZVFw" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-md-4">
        <h2>Someone Læk jú ?</h2>
        <iframe width="560" height="315" src="//www.youtube.com/embed/hLQl3WQQoQ0" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-md-4">
        <h2>HVAÐ VILJUM VIÐ ????</h2>
        <iframe width="560" height="315" src="//www.youtube.com/embed/Mcg4a6AgV4c" frameborder="0" allowfullscreen></iframe>
    </div>
</div>